# Configurações de Banco de Dados (Supabase PostgreSQL)
DATABASE_URL="postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO?schema=public"

# Chaves de API do Stripe (Modo de Teste)
STRIPE_SECRET_KEY="sk_test_substitua_pela_chave_secreta_aqui"
